<div class="row">
	<div class="col-xs-8">

		{% if user.name == post.user.name %}
		<a href="/edit/{{post.key().id()}}">
			<button type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			</button>
		</a>
		<a href="/delete/{{post.key().id()}}">
		    <button type="button" class="btn btn-default" aria-label="Left Align">
			    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		    </button> 
		</a>
		{% endif %} 
	</div>
</div>
